<HTML>
<HEAD>
<TITLE>Retro Theme</TITLE>
<META NAME="description" CONTENT="it’s not the wrapper that matters, but the contents you wrap in it.">
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">

</HEAD>

<BODY BGCOLOR="#FFFF93" TEXT="#000000" LINK="#514220" VLINK="#514220" SCROLL="auto" TOPMARGIN="0" LEFTMARGIN="0" RIGHTMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">

<CENTER>
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="770" BGCOLOR="#FFFF93">

  <TR><TD COLSPAN="4" HEIGHT="10"></TD></TR>

  <TR>
    <TD WIDTH="222" VALIGN="top">
      <IMG SRC="/templates/yellow_retro/logo1.gif" WIDTH="222" HEIGHT="158" BORDER="0">
    </TD>
    <TD WIDTH="10">&nbsp;</TD>
    <TD WIDTH="238" VALIGN="top">
      <FONT FACE="Courier New, monospace" SIZE="5" COLOR="#514220"><B>[[NAVIGATION]]</B></FONT><BR>
    </TD>
    <TD WIDTH="250" VALIGN="top">
      <FONT FACE="Courier New, monospace" SIZE="2" COLOR="#800000"><B>
[[about.txt]]
</B></FONT>
    </TD>
  </TR>


  <TR><TD COLSPAN="4" HEIGHT="40"></TD></TR>

  <TR>
    <TD COLSPAN="4" ALIGN="center">
      <TABLE WIDTH="730" BORDER="0" CELLPADDING="0" CELLSPACING="0">
        <TR>
          <TD>
            <FONT FACE="Arial, sans-serif" SIZE="3">
[[CONTENTS]]

            </FONT>
          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>

  <TR><TD COLSPAN="4" HEIGHT="20"></TD></TR>
  <TR>
    <TD COLSPAN="4" ALIGN="center">
      <FONT FACE="Arial, sans-serif" SIZE="3">[[footer.txt]]</FONT>
    </TD>
  </TR>

</TABLE>
</CENTER>

</BODY>
</HTML>
